flask
flask-sqlalchemy
flask-migrate
flask-login
requests
redis
python-dotenv
tensorflow
numpy
librosa
soundfile
pydantic
gradio==4.19.2
joblib
scikit-learn
jsonschema
pyyaml
mkdocs
mkdocs-material
fastapi
uvicorn
python-multipart
httpx
pytest
slowapi
python-dotenv
